<p>
<mat-toolbar color="primary">
  <button routerLink="/" mat-button>
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button routerLink="/create-post" routerLinkActive="mat-warn" mat-button>
    <mat-icon>create</mat-icon>
    Create Post
  </button>
  <span class="example-spacer"></span>
  <button routerLink="/signup" routerLinkActive="mat-warn" mat-button>
    <mat-icon>account_circle</mat-icon>
    Signup
  </button>
  <button routerLink="/login" routerLinkActive="mat-warn" mat-button>
    <mat-icon>account_box</mat-icon>
      Login
    </button>
</mat-toolbar>
</p>
