<mat-card>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <mat-accordion multi="true" *ngIf="posts.length>0 && !loading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <div class="image-preview">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <mat-action-row *ngIf="isLoggedIn">
      <button mat-raised-button [routerLink]="['/edit-post', post.id]">Edit</button>
      <button mat-raised-button type="button" (click)="deletePost(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
  <mat-paginator [length]="totalPosts" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)" *ngIf="posts.length>0"></mat-paginator>
<p class="mat-body-1" *ngIf="posts.length===0">No Posts yet!</p>
</mat-card>
